
  <div id="root">
    <div class="App background">
      <div id="db-wrapper">
        <div class="d-flex flex-column container">
          <div class="align-items-center justify-content-center g-0 min-vh-100 row">
            <div class="py-8 py-xl-0 col-lg-12 col-md-6">
              <div class="card">
                <div class="p-8 card-body">
                  <div class="row">
                    <div class="mb-4 col-lg-12 col-md-12">
                        <table class="table table-dark">
                          <thead>
                            <tr>
                              <th scope="col">id</th>
                              <th scope="col">user_id</th>
                              <th scope="col">user_name</th>
                              <th scope="col">amount</th>
                              <th scope="col">approved</th>
                              <th scope="col">Date</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <% if @payments.present? %>
                              <% @payments.each do |payment| %>
                                
                                <tr>
                                  <td><%= payment.id%></td>
                                  <td><%= payment.user_id%></td>
                                  <td><%= find_user_by_id(payment.user_id) %></td>
                                  <td><%= payment.amount%></td>
                                  <td><%= payment.approved%></td>
                                  <td><%= post_date(payment.created_at)%></td>
                                  
                                </tr>
                                
                              <% end %>
                            <% end %>
                          </tbody>
                        </table>
                        <% if @payments.present? %>
                          <%= paginate @payments %>
                        <% end %>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




